html {
    scroll-behavior: smooth;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    background: url("images/ml2-logo.png") no-repeat center center;
    background-size: 80px 80px; /* Specifieke afmetingen voor de achtergrondafbeelding */
    display: block;
    width: 100px;
    height: 100px;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #FBFBFB;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.blur {
    filter: blur(24px);
    transition: 1s;
}

.swiper-wrapper, .swiper-slide, .outer-container, .inner-container {
    box-sizing: border-box;
}

.gentle-hover-shake {
    display: inline-block; /* Zorgt ervoor dat de transformatie correct wordt toegepast */
    transition: transform 0.2s; /* Gladde overgang voor andere interacties */
}

.gentle-hover-shake.animate {
    animation: tilt-shaking 2s;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sticky-text {
    position: sticky;
    z-index: 1001;
    top: 50px;
    margin-top: 0;
}

header {
    position: relative;
    height: 100vh;
    background: url('images/banner(1).png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBFBFB;
}

.header-content {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 2s;
    border-radius: 15px;
}

.vollkorn {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h1, h2 {
    color: #FBFBFB;
}

section {
    padding: 20px;
    margin: 0 15px;
}

footer {
    font-size: 0.8em;
    background: #0056b3;
    color: #FBFBFB;
    text-align: center;
    padding: 20px 0;
}

.icon-block svg {
    width: 100%;
    height: 100%;
}

* {
    font-family: Nunito, sans-serif;
}

.text-blk {
    line-height: 25px;
    margin: 0px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: flex-start;
}

.inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px auto 100px;
}

.section-head-text {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin: 0px 0px 18px;
}

.section-subhead-text {
    color: rgb(72, 72, 72);
    font-size: 20px;
    line-height: 27px;
    max-width: 670px;
    margin: 0px 0px 80px;
}

.card {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px 40px;
    box-shadow: rgba(134, 134, 134, 0.16) 0px 6px 24px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.design-card-content {
    width: 50%;
}

.design-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px 40px;
}

.img-wrapper {
    width: 175px;
    height: 175px;
    clip-path: circle(50% at 50% 50%);
}

.img-wrapper > img {
    width: 100%;
}

.design-img-wrapper {
    width: 550px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.design-img-wrapper > img {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
}

.d-none {
    display: none;
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin: 28px 0px 5px;
    line-height: 27px;
}

.position {
    line-height: 26px;
    color: #092534;
    font-weight: 700;
    margin: 0px 0px 20px;
}

.testimonial {
    color: rgb(122, 122, 122);
    font-size: 18px;
    line-height: 27px;
}

.outer-container {
    background-color: rgb(250, 250, 250);
    padding: 0px 50px;
}

.container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: block;
}

.swiper.team-swiper.design-swiper {
    max-width: 100%;
    width: 100%;
    height: fit-content;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    height: auto;
}

.swiper-pagination.container-block {
    position: relative;
    top: 0px;
    margin: 36px 0px 0px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px; /* Example margins */
    height: 12px;
    width: 12px;
    background-color: rgb(0, 166, 127);
}

.clearfix {
    display: flex;
    width: 80%;
    margin: auto auto 90px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.concept-img {
    float: left;
    width: 30%;
    margin-right: 3.33%;
    cursor: pointer;
    position: relative;
    transition: width 0.5s ease, margin-right 0.5s ease; /* Add transition */
}

.concept-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    transition: width 0.5s ease; /* Add transition */
}

.concept-img.active {
    width: 100%; /* Make the active image wider */
    margin-right: 0; /* Remove margin for full width */
}

.concept-img.active img {
    float: left;
    width: 50%; /* Reduce the width of the image */
}

.concept-img .text-blk {
    float: left;
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
    display: none; /* Start with hidden text */
    opacity: 0; /* Ensure initial opacity is 0 for fade-in effect */
    transition: opacity 0.5s ease; /* Smooth opacity transition */
}

.concept-img.active .text-blk {
    display: block; /* Show the text for the active image */
    opacity: 1; /* Make the text visible */
}

.strong-text {
    display: block;
}

.concept-img.active .strong-text {
    display: none; /* Hide the strong-text for the active image */
}

@media (max-width: 1000px) {
    .clearfix {
        flex-direction: column;
    }

    .concept-img {
        pointer-events: none; /* Disable pointer events */
    }

    .concept-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; /* Add some space between items */
    }
    .concept-img .text-blk {
        display: block; /* Make text visible */
        opacity: 1; /* Ensure text is visible */
        width: 100%;
    }
    .strong-text {
        display: none; /* Hide strong-text */
    }
}

.swiper-wrapper {
    position: relative;
    top: 0px;
}

/* Navbar styles */
.navbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%; /* Ensure the navbar spans the full width of the viewport */
    position: fixed; /* Fix the navbar at the top of the viewport */
    top: 0; /* Align the navbar at the top of the viewport */
    left: 0; /* Align the navbar to the left edge of the viewport */
    z-index: 1000; /* Ensures the navbar stays on top of other content */
    animation: fadeIn 3s;
}

.navbar-links {
    margin: 10px 10px 10px auto;
}

.navbar-links a:first-child {
    display: none;
}

.a-first {
    position: absolute;
    font-size: x-large; /* Starting with a large font size */
    width: 5%; /* Initial width, consider adjusting this if it's too narrow or wide */
    min-width: 120px; /* Ensuring it doesn't become too small */
    max-width: 200px; /* Limiting how large it can grow */
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    padding: 4px 16px; /* Specific horizontal padding */
    background-color: #FBFBFB; /* Ensuring background color visibility */
    color: #FBFBFB; /* Text color */
    margin: 15px;
}

.navbar-a {
    margin: 5px;
    border-radius: 50%; /* Make the links circular */
    background-color: #092534; /* Red background */
    text-align: center;
    float: left; /* Keep the links aligned to the left */
    display: block;
    color: #FBFBFB; /* White text */
    text-decoration: none;
    font-size: 17px;
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height to match the width */
    line-height: 50px; /* Align the icon/text vertically */
    padding: 0; /* Remove padding to ensure icons/text stay centered */
}

.navbar a:hover {
    background-color: #F96900; /* Yellow background on hover */
}

.navbar a.icon {
    display: none; /* Initially hide the hamburger icon */
}

.navbar-a {
    position: relative; /* Nodig voor absolute positionering van child elementen */
    display: inline-block; /* Zorgt ervoor dat de link zich gedraagt als inline maar block eigenschappen heeft */
    text-align: center;
}

.nav-text {
    font-size: smaller;
}

.navbar-a .nav-text {
    position: absolute;
    left: 50%; /* Centreert de tekst horizontaal */
    top: calc(100% + 10px); /* Positie direct onder het icoon, met ruimte */
    transform: translateX(-50%); /* Precieze horizontale centrering */
    transition: opacity 0.3s, transform 0.8s;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap; /* Voorkomt dat de tekst afbreekt */
    color: #FBFBFB;
    background-color: rgba(9, 37, 52, 0.8); /* Semi-transparante achtergrond voor beter contrast */
    padding: 0 10px; /* Voeg wat padding toe rondom tekst */
    border-radius: 15px; /* Ronde hoeken */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtiele schaduw voor diepte */
}

.navbar, .navbar-links {
    overflow: visible; /* Zorgt ervoor dat inhoud buiten deze containers zichtbaar is */
}

.navbar-a:hover .nav-text {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0); /* Verwijdert de extra ruimte bij hover */
}

/*Effects*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {

    .design-card-content {
        width: 100%;
    }

    .design-img-wrapper > img {
        width: 54%;
    }

    .header-content {
        width: 80%;
    }

    .navbar-links a:first-child {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar-links :not(:first-child) {
        display: none; /* Hide all links except the first child on small screens */
    }

    .navbar a.icon {
        display: block; /* Show the hamburger menu icon on small screens */
    }

    .navbar {
        flex-direction: row;
    }

    .ham3 .middle, .ham3 .bottom {
        display: block; /* Zorgt ervoor dat deze paden altijd zichtbaar blijven */
    }
}

.navbar.responsive a {
    float: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #FBFBFB;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FBFBFB;
}

.ham > path {
    color: white;
}

.ham3 .top {
    stroke-dasharray: 40 130;
}

.ham3 .middle {
    stroke-dasharray: 40 140;
}

.ham3 .bottom {
    stroke-dasharray: 40 205;
}

.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.ham3.active .middle {
    stroke-dashoffset: -102px;
}

.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}

@media (max-width: 1024px) {
    .swiper-slide {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .outer-container {
        padding: 0px;
    }
}

.footer {
    position: relative;
    background: #092534;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    padding: 0;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #FBFBFB;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #FBFBFB;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #FBFBFB;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("images/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}
